html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  color: #f6f2ec;
  background-color: #000000;
}

/* HEADER */
header {
  text-align: center;
  padding: 1.5rem;
  border-bottom: 1px solid #ddd;
  background-color: #000000;
}

h1 {
  color: #f6f2ec;
  font-size: 36px;
  margin: 0;
}

/* MAIN CONTENT AREA */
.content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

/* SIDEBAR */
.sidebar {
  padding: 1rem;
  width: 20%;
  height: fit-content;
  position: sticky;
  top: 1rem;
  background-color: #000000;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 1rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 800;
  transition: color 0.2s;
}

.sidebar a:hover {
  color: rgb(0, 0, 0);
}

/* CARD CONTAINER */
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 2rem;
  justify-items: center;
  width: 100%;
}

.card {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  opacity: 0;
  background-color: rgb(251, 184, 211)rgb(170, 5, 71);
  color: #f6f2ec;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.card.show {
  opacity: 1;
  transform: translateY(0) scale(1.02);
}


.card:hover {
  transform: translateY(-8px);
  box-shadow: #e9d8ff;
}

.card img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  filter: brightness(70%);
  transition: filter 0.3s ease;
}

.parasol-card img {
  object-fit: cover;       /* keeps the image filling the card */
  object-position: top center; /* focus on the top (the head) */
}

.card:hover img {
  filter: brightness(55%);
}

.card-title {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
}

/* FOOTER */
footer {
  text-align: center;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: #000000;
  margin-top: 2rem;
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    width: 80%;
  }

  .card-container {
    width: 100%;
    justify-content: center;
    grid-template-columns: 1fr;
  }
}

#theme-toggle {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  right: 2rem;
  top: 1.5rem;
  transition: transform 0.3s ease;
}

#theme-toggle:hover {
  transform: scale(1.2);
}